#chessboard{
    border: 2px solid black;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    background-image: url("../img/");
}
#figures{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

#myCanvas{
position: absolute;
z-index: 99;
pointer-events: none;


}
#overlay{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

.figure{
    width: 100px;
    height: 100px;
    background-size: 100px;
    position: absolute;
}

.overlayCircle{
    width: 34px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.overlayTake{
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, transparent 41px, rgba(0, 0, 0, 0.1) 15px);
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 50%;
    transform: translateY(-50%) translateX(-50%);
}


#tah{

    color:rgb(80, 42, 4);
}